<link rel="stylesheet" href="../assets/css/navbar.css">
<div id="mySidenav" class="sidenav">
  <a href="/" id="home">Home</a>
   <a href="/insert/branch" id="student">Branch</a>
    <a href="/insert/student" id="branch">Student</a>
  <a href="/insert/company" id="company">Company</a>
  <a href="/insert/placed" id="placed">Placed</a>
</div>